.pr-30{
    padding-right: 30px;
}

.coin-image{
    max-height: 300px;
    max-width: 300px;
}

.block{
    position: relative;
    background-color: #C4C4C4;
    padding: 18px 43px;
}

.title{
    font-size: 28px;
    margin-bottom: 20px;
}

.info{
    line-height: 125%;
    font-size: 12px;
    white-space: pre-line;
}

.info-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-table td{
    padding: 6px;
    font-size: 10px;
    line-height: 105.2%;
    border-bottom: 1px solid #B1ACAC;
}

.info-table td:nth-child(1){
    border-right: 1px solid #B1ACAC;
}

.info-table td:nth-child(2){
    border-left: 1px solid #B1ACAC;
}

.info-table tr:nth-child(odd){
    background-color: #ffffff;
}

.info-table__col{
    width: 50%;
}

.link-to-list{
    position: absolute;
    font-size: 10px;
    color: #000000;
    bottom: 20px;
}

@media screen and (max-width: 992px){
    .coin-image{
        max-width: 100%;
        object-fit: contain;
    }
}