.label{
    line-height: 109%;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form{
    column-gap: 30px;
}

.search-button{
    width: 120px;
    height: 100%;
    background-color: rgb(131, 58, 224);
    color: #ffffff;
    border: none;
}
.search-button:hover{
    background-color: rgba(131, 58, 224, .8);
}

.advanced-search{
    background-color: transparent;
    text-decoration: underline;
    line-height: 109%;
    font-size: 14px;
    border: none;
    margin-top: 10px;
}

.arrow{
    margin-left: 5px;
}